<ion-header>
  <ion-toolbar style="--background: #1a529f">
    <ion-buttons slot="start">
      <ion-button (click)="back()" color="light">Atrás
        <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-activatable ripple-parent" (click)="getDetail(1)">
    <ion-card-header>
      <ion-card-title>Fase 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-note style="color:#1a529f; font-size:14px;">Ir a la fase</ion-note>
      <ion-icon slot="end" name="folder-open" style="margin-left: 65px; zoom: 3.5; margin-top: -12px; color: #1a529f;"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-activatable ripple-parent" (click)="getDetail(2)">
    <ion-card-header>
      <ion-card-title>Fase 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-note style="color:#1a529f; font-size:14px;">Ir a la fase</ion-note>
      <ion-icon slot="end" name="folder-open" style="margin-left: 65px; zoom: 3.5; margin-top: -12px; color: #1a529f;"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-activatable ripple-parent" (click)="getDetail(3)">
    <ion-card-header>
      <ion-card-title>Fase 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-note style="color:#1a529f; font-size:14px;">Ir a la fase</ion-note>
      <ion-icon slot="end" name="folder-open" style="margin-left: 65px; zoom: 3.5; margin-top: -12px; color: #1a529f;"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-activatable ripple-parent" (click)="getDetail(4)">
    <ion-card-header>
      <ion-card-title>Fase 4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-note style="color:#1a529f; font-size:14px;">Ir a la fase</ion-note>
      <ion-icon slot="end" name="folder-open" style="margin-left: 65px; zoom: 3.5; margin-top: -12px; color: #1a529f;"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-card-content>
  </ion-card>

</ion-content>
